<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.nearby.nearbyshop.dao.BackDao">
<!--  分页查询超级管理的商铺数量-->
    <select id="findShopsByShop" resultType="com.shop.nearby.nearbyshop.model.Shop">
        select * from shopinfo where 1=1
        <if test="shop.mohu != null and shop.mohu !=''">
            AND concat(IFNULL(shopname,''),IFNULL(adminname,''),IFNULL(phonenum,'')
            ,IFNULL(code,'')) like  CONCAT('%',#{shop.mohu},'%')
        </if>
        LIMIT #{shop.from},#{shop.pageSize}
    </select>
<!--   查询超级管理员的商铺总数-->
    <select id="countShop" resultType="int">
        SELECT COUNT(*) FROM shopinfo  where 1=1
        <if test="shop.mohu != null and shop.mohu !=''">
            AND concat(IFNULL(shopname,''),IFNULL(adminname,''),IFNULL(phonenum,'')
            ,IFNULL(code,'')) like  CONCAT('%',#{shop.mohu},'%')
        </if>
    </select>
<!--   分页查询超级管理员的用户-->
    <select id="findWxUsersByUser" resultType="com.shop.nearby.nearbyshop.model.WxUser">
        select * from openids where isUser=1 and  1=1
        <if test="user.mohu != null and user.mohu !=''">
            AND concat(IFNULL(name,''),IFNULL(phonenum,''),IFNULL(address,'')
            ,IFNULL(province,''),IFNULL(city,''),IFNULL(county,'')) like  CONCAT('%',#{user.mohu},'%')
        </if>
        LIMIT #{user.from},#{user.pageSize}
    </select>
<!--查询超级管理员的用户数-->
    <select id="countWxUser" resultType="int">
        SELECT COUNT(*) FROM openids where isUser=1 and  1=1
        <if test="user.mohu != null and user.mohu !=''">
            AND concat(IFNULL(name,''),IFNULL(phonenum,''),IFNULL(address,'')
            ,IFNULL(province,''),IFNULL(city,''),IFNULL(county,'')) like  CONCAT('%',#{user.mohu},'%')
        </if>
    </select>
    <!--  分页查询超级管理的订单-->
    <select id="findShopsByBackOrder" resultType="com.shop.nearby.nearbyshop.model.BackOrder">
        SELECT o.time,o.status,o.money,o.num,ga.name username,ga.phonenum userphone,g.name goodsname,
        ga.province,ga.city,ga.county,ga.address
        FROM orders o,goodsaddress ga,goods g
        WHERE o.addressid=ga.id AND g.id=o.goodsid AND 1=1
        <if test="order.mohu != null and order.mohu !=''">
            AND concat(IFNULL(ga.name,''),IFNULL(ga.phonenum,''),IFNULL(g.name,'')) like CONCAT('%',#{order.mohu},'%')
        </if>
        LIMIT #{order.from},#{order.pageSize}
    </select>
    <!--   查询超级管理员的订单总数-->
    <select id="countBackOrder" resultType="int">
        select count(*)
        FROM orders o,goodsaddress ga,goods g
        WHERE o.addressid=ga.id AND g.id=o.goodsid AND 1=1
        <if test="order.mohu != null and order.mohu !=''">
            AND concat(IFNULL(ga.name,''),IFNULL(ga.phonenum,''),IFNULL(g.name,'')) like CONCAT('%',#{order.mohu},'%')
        </if>
    </select>
    <!--分页查询参数-->
    <select id="findParamsByGoodsParam" resultType="com.shop.nearby.nearbyshop.model.GoodsParam">
        SELECT * from types
        WHERE shopid=#{param.shopid} AND 1=1
        <if test="param.mohu != null and param.mohu !=''">
            AND concat(IFNULL(type,''),IFNULL(subclass,'')) like CONCAT('%',#{param.mohu},'%')
        </if>
        LIMIT #{param.from},#{param.pageSize}
    </select>
    <!--查询参数总数-->
    <select id="countParams" resultType="int">
        select count(*)
        FROM types
        WHERE shopid=#{param.shopid} AND 1=1
        <if test="param.mohu != null and param.mohu !=''">
            AND concat(IFNULL(type,''),IFNULL(subclass,'')) like CONCAT('%',#{param.mohu},'%')
        </if>
    </select>
    <!--分页查询商品数-->
    <select id="findGoodsByGoods" resultType="com.shop.nearby.nearbyshop.model.Goods">
        SELECT * from goods
        WHERE shopid=#{goods.shopid} AND 1=1
        <if test="goods.mohu != null and goods.mohu !=''">
            AND concat(IFNULL(type,''),IFNULL(subclass,'')) like CONCAT('%',#{goods.mohu},'%')
        </if>
        LIMIT #{goods.from},#{goods.pageSize}
    </select>
    <!--查询商品总数-->
    <select id="countGoods" resultType="int">
        select count(*)
        FROM goods
        WHERE shopid=#{goods.shopid} AND 1=1
        <if test="goods.mohu != null and goods.mohu !=''">
            AND concat(IFNULL(type,''),IFNULL(subclass,'')) like CONCAT('%',#{goods.mohu},'%')
        </if>
    </select>
    <!--分页查询代理商-->
    <select id="findAreaAgentByAreaAgent" resultType="com.shop.nearby.nearbyshop.model.AreaAgent">
        SELECT username,pwd,phone,name,area,createtime from backuser
        WHERE power=2 AND 1=1
        <if test="areaAgent.mohu != null and areaAgent.mohu !=''">
            AND concat(IFNULL(phone,''),IFNULL(name,''),IFNULL(area,'')) like CONCAT('%',#{areaAgent.mohu},'%')
        </if>
        LIMIT #{areaAgent.from},#{areaAgent.pageSize}
    </select>
    <!--查询代理商总数-->
    <select id="countAreaAgent" resultType="int">
        select count(*) from backuser
        WHERE power=2 AND 1=1
        <if test="areaAgent.mohu != null and areaAgent.mohu !=''">
            AND concat(IFNULL(phone,''),IFNULL(name,''),IFNULL(area,'')) like CONCAT('%',#{areaAgent.mohu},'%')
        </if>
    </select>
</mapper>